{{#each this}}
  <li class='gallery__item'>
    <a class='gallery__link' href='{{original}}'>
      <img
        class='gallery__image'
        src='{{preview}}'
        alt='{{name}}'
        loading='lazy'
      />
    </a>
    <div class='img__info'>
      <h2 class='gallery__name'>{{name}}</h2>
      <p class='gallery__position'>{{position}}</p>
    </div>
  </li>
{{/each}}

